body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  background : linear-gradient(135deg, rgb(10, 112, 51) 0%, rgb(29, 143, 74) 50%, rgb(135, 241, 177) 100%); 
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
h1 {
  margin: 0;
  font-size: 2.5em;
}
.hospital-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.hospital-card {
  /* background-color: #ffffff; */
  background-color: rgb(194, 245, 196);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}
.hospital-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgb(3, 138, 9);
}
.hospital-card h2 {
  color: rgb(5 89 37);
  margin-top: 0;
}
.hospital-card p {
  margin: 10px 0;
  line-height: 1.6;
}
.hospital-card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.contact-info {
  width: 100%;
  /* background-color: #f9f9f9; */
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.contact-info p {
  margin: 5px 0;
}