*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* center center/cover no-repeat */
header{
    height: 100vh;
    background:url('../images/1.jpg')center /cover no-repeat;
    position: relative;
}
#navbar{
    /* position: fixed; */
    display:flex ;
    justify-content: space-between;
    align-items: center;
     /* position: fixed; */
}


#navbar img{
    width: 80px;
    margin-left: 100px;
}
#navbar ul{
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 20px;
    color: aliceblue;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b; 
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 75vh;
}

header .content h1{
    font-size: 40px;
    color: aliceblue;
}
header .content p{
    font-size: 20px;
    margin: 20px 0 ;
    color: aliceblue;
}
/* over lai */
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgb(0,0,0,0.6);
}

header *{
    z-index: 10;
}
/* header */



/* corniche */
.container{
  
    max-width: 1100px;
    margin: auto;
    /* background-color: #7e2828; */
}
#corniche{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9a9a;
}

#corniche.title{
    text-align: center;
    /* margin-bottom: 4rem; */
}

#corniche h2{
    font-size: 40px;
    color: #383848;
}
#corniche .corniche-content{
    display: flex;
    justify-content: space-between;
}

#corniche .corniche-content img{
    width: 550px;
}
#corniche .corniche-content p{
    font-size: 25px;
    margin-right: 5rem;
    line-height: 1.2;
}

/* corniche */
.container{
    max-width: 1100px;
    margin: auto;
    /* background-color: #7e2828; */
}
#green-lands{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
}

#green-lands.title{
    text-align: center;
    margin-bottom: 4rem;
}

#green-lands h2{
    font-size: 40px;
    color: #000000; 
}
#green-lands .green-lands-content{
    display: flex;
    justify-content: space-between;
}

#green-lands .green-lands-content img{
    width: 900px;
    height: 400px;
}
#green-lands .green-lands-content p{
    font-size: 25px;
    margin-right: 5rem;
    line-height: 1.2;
}


/* gallery */
#gallery{
    background: url(../images/offer-background.jpg)center center/cover no-repeat;
    padding: 8rem 0 6rem;
}

#gallery .img-gallery img{
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;

}
#gallery .img-gallery img:hover{
    opacity: 1;
}

#gallery .img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery h2{
    color: #fff;
    font-size: 40px ;
    margin-bottom: 20px;
    text-align:center;
}

/* gallery */
.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    align-items: center;
}